In [3]:
# Import necessary modules and plug-ins
import numpy as np
import pandas as pd
import strawberryfields as sf
import thewalrus as tw
import pennylane as qml

from strawberryfields import ops
from strawberryfields.ops import *
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from strawberryfields.utils import random_interferometer

In [4]:
# Pinging Strrawberry Fields to establish connection & security
sf.ping()

You have successfully authenticated to the platform!

In [5]:
eng = sf.RemoteEngine("X8")
engtoo = sf.Engine("gaussian")

In [6]:
# Set the random seed
np.random.seed(42)

In [7]:
# Defining the linear inferometer
U = np.array([
 [ 0.219546940711-0.256534554457j, 0.611076853957+0.524178937791j,
    -0.102700187435+0.474478834685j,-0.027250232925+0.03729094623j],
 [ 0.451281863394+0.602582912475j, 0.456952590016+0.01230749109j,
    0.131625867435-0.450417744715j, 0.035283194078-0.053244267184j],
 [ 0.038710094355+0.492715562066j,-0.019212744068-0.321842852355j,
    -0.240776471286+0.524432833034j,-0.458388143039+0.329633367819j],
 [-0.156619083736+0.224568570065j, 0.109992223305-0.163750223027j,
    -0.421179844245+0.183644837982j, 0.818769184612+0.068015658737j]
])

In [8]:
# Defining another but randomly
Utoo = random_interferometer(4)
np.set_printoptions(precision=16)
print(Utoo)

[[ 0.2364882618857422-0.482214307322667j
   0.0682964773269564+0.0444789775762852j
   0.5115007388835463-0.0952986583732719j
   0.5520571865947266-0.3597469917942807j]
 [-0.1114816726427168+0.6978032089401686j
  -0.2494382786327934+0.0841070110434553j
   0.467059291172189 -0.4319298125262462j
   0.1622065409340211-0.0181760216390895j]
 [-0.2235192632554648-0.2591835234472852j
   0.24364996116129  -0.0537562295998913j
  -0.0925982940067332-0.5381058778231553j
   0.2726770843179723+0.6694197728029507j]
 [ 0.1151995301476408-0.2859672891120847j
  -0.9016492271986603-0.2209918615739196j
  -0.0962775827896406-0.1310559524249577j
  -0.0200152048755105+0.127661278317911j ]]

In [9]:
# initialize a 4 mode program
firstprog = sf.Program(8, name="first_remote_job")

In [10]:
with firstprog.context as q:
    # Initial squeezed states
    # Allowed values are r=1.0 or r=0.0
    ops.S2gate(1.0) | (q[0], q[4])
    ops.S2gate(1.0) | (q[1], q[5])
    ops.S2gate(1.0) | (q[3], q[7])

    # Interferometer on the signal modes (0-3)
    ops.Interferometer(U) | (q[0], q[1], q[2], q[3])
    ops.BSgate(0.543, 0.123) | (q[2], q[0])
    ops.Rgate(0.453) | q[1]
    ops.MZgate(0.65, -0.54) | (q[2], q[3])

    # *Same* interferometer on the idler modes (4-7)
    ops.Interferometer(U) | (q[4], q[5], q[6], q[7])
    ops.BSgate(0.543, 0.123) | (q[6], q[4])
    ops.Rgate(0.453) | q[5]
    ops.MZgate(0.65, -0.54) | (q[6], q[7])

    ops.MeasureFock() | q

In [11]:
secondprog = sf.Program(8, name="second_remote_job")

In [12]:
with secondprog.context as q:
    # Initial squeezed states
    # Allowed values are r=1.0 or r=0.0
    ops.S2gate(1.0) | (q[0], q[4])
    ops.S2gate(1.0) | (q[1], q[5])
    ops.S2gate(1.0) | (q[3], q[7])

    # Interferometer on the signal modes (0-3)
    ops.Interferometer(Utoo) | (q[0], q[1], q[2], q[3])
    ops.BSgate(0.543, 0.123) | (q[2], q[0])
    ops.Rgate(0.453) | q[1]
    ops.MZgate(0.65, -0.54) | (q[2], q[3])

    # *Same* interferometer on the idler modes (4-7)
    ops.Interferometer(Utoo) | (q[4], q[5], q[6], q[7])
    ops.BSgate(0.543, 0.123) | (q[6], q[4])
    ops.Rgate(0.453) | q[5]
    ops.MZgate(0.65, -0.54) | (q[6], q[7])

    ops.MeasureFock() | q

In [33]:
# can only run on real hardware monday-thursday 8-4pm ET
results_first_job = eng.run(firstprog, shots=8, cutoff_dim=25)

In [34]:
results_second_job = eng.run(secondprog, shots=8, cutoff_dim=25)

In [35]:
pd.DataFrame(results_first_job.samples).style

In [36]:
pd.DataFrame(results_second_job.samples).style

In [58]:
pd.DataFrame(tw.quantum.Amat(results_first_job.samples)).style

In [57]:
pd.DataFrame(tw.quantum.Amat(results_second_job.samples)).style